h1 {
	text-align: center;
	padding: 2%;
}

#host {
	border: 2px solid black;
	float: Left;
}

#host_1 {
	border: 2px solid black;
	float: left;
	/*margin: 0px 15px 0px 0px;*/
	margin: 0% 21% 2% 21%;
}

div.mermaid {
	margin: 0;
}

